@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
    font-style: normal;
    font-display: swap;
}

:root{
    --primary-collor: #8F0101;
    --secundary-collor: #B81515;

    --background-primary-collor: #FFFFFF;
    --background-secondary-collor: #f5f5f5;
    --background-tertiary-collor: #0000;

    --text-primary-collor: #222222;
    --text-secondary-collor: #FFFFFF;

    --title-weight: 700;
    --text-weight: 400;
    --menu-text-weight: 500;
}

/* CSS RESET */
body, img, h1, p, fieldset, legend, label, input, select, textarea, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
